.vscode/
.gradle/
.idea/
.classpath
.project
.settings/
build/
logs/
bin/

[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/