body {
  background-color: #f2f2f2;
  /* min-width: 1508px; */
  overflow-x: auto;
}

.logo {
  width: 195px;
  height: 103px
}


.logo2 {
  width: 300px;
  height: 73px
}

.ad {
  width: 966px;
  height: 103px
}

.nav-bar-active {
  border-bottom: .25rem solid#FCC802;
}

.footer-nav {
  background-color: #f2f2f2;
  width:500px;
  font-size: xx-small;
}

.item-middle {
  align-items: center;
  display: flex;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.flex-center  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.sidebar {
  height: 100%
}

.login-body { 
  background: url(lib/img/2020.png);
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.btn-orange {
  color: #fff;
  background-color: #ee792c;
  border-color: #ee792c;
}

.btn-orange:hover {
  color: #fff;
}

.btn-login {
  width: 100%;
  color: #fff;
  background-color: #fac93e;
  border-color: #fac93e;
}


.btn-login:hover {
  color: #fff;
}

.signin-btn {
  width: 150px;
  height: 45px;
}


.chat-img {
  width: 45px;
  height: 45px;
}

.chat-text-box {
  padding-left: 1rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.chat-list {
  height: calc(45vh + 106px);
  overflow-y: auto
}

.chat-body {
  height: 45vh;
  overflow-y: auto
}

.chat-item:hover  {
  background-color:#dee2e6;
}

.chat-item-active {
  background-color:#dee2e6;
}

.textarea-row {
  height: 106px
}

.textarea-col {
  padding-left: 0;
  padding-right: 0 
}

.message-textarea {
  width: 100%; 
  height: 100%;
  resize: none;
  border: 0;
  outline: none; 
}

.message-img {
  height: 40px;
  width: 40px
}

.message-text {
  max-width: 60%;
  word-break: break-all
}

.modal-show {
  display: block
}

.text-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.img-box {
  position: relative;
  align-items: center;
  justify-content: center
}

.img-box-item {
  z-index: -1;
  width: 100%;
  height: 425px;
}

.pagination {
  position: absolute;
  bottom: 1px;
  display: flex;
  flex-direction: row;
}
