body {
  /* margin-top: 3rem; */
  padding-bottom: 50px;
  font-size: 11px;
}

.text-small {
  /* font-size: 0.875rem; */
  font-size: small;
}

.title-color {
  /* background: linear-gradient(to right, #5B5B5B, 64%, #ff6633); */
  background: linear-gradient(to right, DimGray, 75%, OrangeRed);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.input-control {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  border: 0px solid #ced4da;
  border-bottom: 1px solid #dee2e6 !important;
}

.nav-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0
}

.nav-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-btn {
  width: 100%;
  border-radius: 0;
  height: 100%;
}

.item-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.flex-center  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bottom {
  height: 50px;
  flex-wrap: inherit
}

.img-box {
  position: relative;
  align-items: center;
  justify-content: center
}

.img-box-item {
  z-index: -1;
  width: 100%;
  height: 120px
}

.pagination {
  position: absolute;
  bottom: 1px;
  display: flex;
  flex-direction: row;
}
