body {
  margin-top: 3rem;
}

.text-small {
  /* font-size: 0.875rem; */
  font-size: 0.75rem;
}

.title-color {
  /* background: linear-gradient(to right, #5B5B5B, 64%, #ff6633); */
  background: linear-gradient(to right, DimGray, 75%, OrangeRed);
}

.input-borderless {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: transparent;
}
